@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

input:focus,
button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.top-menu ul li a {
  position: relative;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.top-menu ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.5s ease-in-out;
}

.top-menu ul li a:hover::after {
  width: 100%;
}

.cat-btn:hover::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.247);
}
.cat-btn::before {
  transition: 0.3s;
}

/*Edit, forgot this important bit.  This keeps the other slides visible*/
.slick-list {
  overflow: visible !important;
}

.colored-footer ul a::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}
.colored-footer ul li {
  position: relative;
  padding-left: 15px;
}

.footer-info ul li {
  position: relative;
}
.footer-info ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
  background-color: gray;
  width: 0.5px;
  height: 16px;
  margin: auto 0;
}
.footer-info ul li:not(:last-child) {
  padding: 0 15px;
}
.footer-info ul li:last-child {
  padding-left: 15px;
}

.footer-info ul li a {
  position: relative;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.footer-info ul li a:hover {
  border-bottom: 1px solid gray;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-info ul li:not(:last-child) {
    padding: 0 5px;
  }
  .footer-info ul li:last-child {
    padding-left: 5px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footer-info ul li:not(:last-child) {
    padding: 0 10px;
  }
  .footer-info ul li:last-child {
    padding-left: 10px;
  }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .slick-slider:hover .slick-list {
    overflow: visible !important;
  }
  .slick-list {
    overflow: hidden !important;
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .slick-slider:hover .slick-list {
    overflow: visible !important;
  }
  .slick-list {
    overflow: hidden !important;
  }
}
